In [1]:
import pandas as pd
import numpy as np
import requests as rq
import json as js
import datetime as dt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import math
from sklearn.svm import SVC

In [2]:
vehicles_df = pd.read_csv('Resources/vehicles.csv', low_memory=False)
vehicles_df

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46559,13.523182,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
46560,12.935217,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
46561,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
46562,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
46563,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [3]:
vehicles_df.columns.values

array(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF',
       'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08',
       'comb08U', 'combA08', 'combA08U', 'combE', 'combinedCD',
       'combinedUF', 'cylinders', 'displ', 'drive', 'engId', 'eng_dscr',
       'feScore', 'fuelCost08', 'fuelCostA08', 'fuelType', 'fuelType1',
       'ghgScore', 'ghgScoreA', 'highway08', 'highway08U', 'highwayA08',
       'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv',
       'id', 'lv2', 'lv4', 'make', 'model', 'mpgData', 'phevBlended',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'trany', 'UCity', 'UCityA', 'UHighway', 'UHighwayA',
       'VClass', 'year', 'youSaveSpend', 'baseModel', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2',
       'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'charge240b',
       'c240bDscr', 'createdOn', 'modifiedOn', 'startStop', 'phevCity',
       'phevHwy', 'phevComb'], dtype=object)

In [4]:
vc = vehicles_df.atvType.value_counts()
vc.sum()

4890

In [5]:
vehicles_df = vehicles_df[vehicles_df.atvType.isnull()]
vehicles_df

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46559,13.523182,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
46560,12.935217,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
46561,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
46562,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
46563,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [6]:
veh_reduced = vehicles_df[['year','VClass','comb08','cylinders','displ','drive','fuelType','trany']]
veh_reduced

,year,VClass,comb08,cylinders,displ,drive,fuelType,trany
0,1985,Two Seaters,21,4.0,2.0,Rear-Wheel Drive,Regular,Manual 5-spd
1,1985,Two Seaters,11,12.0,4.9,Rear-Wheel Drive,Regular,Manual 5-spd
2,1985,Subcompact Cars,27,4.0,2.2,Front-Wheel Drive,Regular,Manual 5-spd
3,1985,Vans,11,8.0,5.2,Rear-Wheel Drive,Regular,Automatic 3-spd
4,1993,Compact Cars,19,4.0,2.2,4-Wheel or All-Wheel Drive,Premium,Manual 5-spd
...,...,...,...,...,...,...,...,...
46559,1993,Compact Cars,22,4.0,2.2,Front-Wheel Drive,Regular,Automatic 4-spd
46560,1993,Compact Cars,23,4.0,2.2,Front-Wheel Drive,Regular,Manual 5-spd
46561,1993,Compact Cars,21,4.0,2.2,4-Wheel or All-Wheel Drive,Regular,Automatic 4-spd
46562,1993,Compact Cars,21,4.0,2.2,4-Wheel or All-Wheel Drive,Regular,Manual 5-spd
46563,1993,Compact Cars,18,4.0,2.2,4-Wheel or All-Wheel Drive,Premium,Automatic 4-spd

In [7]:
# veh_reduced['startStop'] = veh_reduced['startStop'].fillna('N')
# veh_reduced.head()

In [8]:
veh_reduced.dropna(how = 'any', inplace = True)
veh_reduced

C:\Users\kmill\AppData\Local\Temp\ipykernel_26184\4184643121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veh_reduced.dropna(how = 'any', inplace = True)

,year,VClass,comb08,cylinders,displ,drive,fuelType,trany
0,1985,Two Seaters,21,4.0,2.0,Rear-Wheel Drive,Regular,Manual 5-spd
1,1985,Two Seaters,11,12.0,4.9,Rear-Wheel Drive,Regular,Manual 5-spd
2,1985,Subcompact Cars,27,4.0,2.2,Front-Wheel Drive,Regular,Manual 5-spd
3,1985,Vans,11,8.0,5.2,Rear-Wheel Drive,Regular,Automatic 3-spd
4,1993,Compact Cars,19,4.0,2.2,4-Wheel or All-Wheel Drive,Premium,Manual 5-spd
...,...,...,...,...,...,...,...,...
46559,1993,Compact Cars,22,4.0,2.2,Front-Wheel Drive,Regular,Automatic 4-spd
46560,1993,Compact Cars,23,4.0,2.2,Front-Wheel Drive,Regular,Manual 5-spd
46561,1993,Compact Cars,21,4.0,2.2,4-Wheel or All-Wheel Drive,Regular,Automatic 4-spd
46562,1993,Compact Cars,21,4.0,2.2,4-Wheel or All-Wheel Drive,Regular,Manual 5-spd
46563,1993,Compact Cars,18,4.0,2.2,4-Wheel or All-Wheel Drive,Premium,Automatic 4-spd

In [9]:
veh_reduced.dtypes

year           int64
VClass        object
comb08         int64
cylinders    float64
displ        float64
drive         object
fuelType      object
trany         object
dtype: object

In [10]:
sorted = veh_reduced.sort_values(by='year', axis=0, ascending=True)
sorted

,year,VClass,comb08,cylinders,displ,drive,fuelType,trany
19453,1984,Special Purpose Vehicles,15,4.0,2.0,2-Wheel Drive,Regular,Manual 4-spd
19140,1984,Standard Pickup Trucks 4WD,14,6.0,4.1,4-Wheel or All-Wheel Drive,Regular,Manual 4-spd
20316,1984,Special Purpose Vehicle 4WD,18,6.0,4.2,4-Wheel or All-Wheel Drive,Regular,Manual 5-spd
19139,1984,Standard Pickup Trucks 4WD,15,6.0,4.1,4-Wheel or All-Wheel Drive,Regular,Automatic 4-spd
19136,1984,Standard Pickup Trucks 2WD,21,4.0,2.4,2-Wheel Drive,Regular,Manual 5-spd
...,...,...,...,...,...,...,...,...
40233,2024,Small Sport Utility Vehicle 4WD,22,4.0,2.0,All-Wheel Drive,Regular,Automatic (S8)
40232,2024,Small Sport Utility Vehicle 4WD,22,4.0,2.0,All-Wheel Drive,Regular,Automatic (S8)
40231,2024,Small Sport Utility Vehicle 4WD,20,4.0,2.0,All-Wheel Drive,Regular,Automatic (S8)
40275,2024,Subcompact Cars,19,6.0,3.0,Rear-Wheel Drive,Premium,Manual 6-spd
40105,2024,Subcompact Cars,27,4.0,2.0,Front-Wheel Drive,Premium,Manual 6-spd

In [11]:
sorted.to_csv("Resources/vehicles_basic_clean.csv",index=False)

In [12]:
# counts of each makes' appearance in table

# make_counts = veh_reduced.make.value_counts()
# make_counts.head(5)

In [13]:
# make_counts_df = make_counts.to_frame()
# make_counts_df = make_counts_df[make_counts_df["make"]>10]
# make_counts_df

In [14]:
# # list of makes to keep
# make_list = make_counts_df.index.tolist()

# # remove small makes
# sorted_reduced = sorted[sorted.make.isin(make_list)]
# sorted_reduced

In [15]:


VClass_counts = sorted.VClass.value_counts()
VClass_counts.sort_index()

Compact Cars                          5610
Large Cars                            2171
Midsize Cars                          4714
Midsize Station Wagons                 455
Midsize-Large Station Wagons           619
Minicompact Cars                      1520
Minivan - 2WD                          330
Minivan - 4WD                           54
Small Pickup Trucks                    498
Small Pickup Trucks 2WD                447
Small Pickup Trucks 4WD                271
Small Sport Utility Vehicle 2WD        843
Small Sport Utility Vehicle 4WD       1391
Small Station Wagons                  1498
Special Purpose Vehicle 2WD            686
Special Purpose Vehicle 4WD            323
Special Purpose Vehicles              1408
Special Purpose Vehicles/2wd             2
Special Purpose Vehicles/4wd             2
Sport Utility Vehicle - 2WD           1414
Sport Utility Vehicle - 4WD           1858
Standard Pickup Trucks                2140
Standard Pickup Trucks 2WD            1100
Standard Pickup Trucks 4WD            1077
Standard Pickup Trucks/2wd               4
Standard Sport Utility Vehicle 2WD     339
Standard Sport Utility Vehicle 4WD     871
Subcompact Cars                       5055
Two Seaters                           2261
Vans                                  1079
Vans Passenger                           2
Vans, Cargo Type                       319
Vans, Passenger Type                   224
Name: VClass, dtype: int64

In [16]:
# function to automate reductions

def clean_up(df, column, replace):
    
    for c in replace:
        df.loc[vr[column].str.contains(c), column] = c

In [17]:
# reduce VClasses

vr = sorted.copy()
class_search_values = ["Minivan", "Small Pickup Trucks", "Special Purpose Vehicle", "Sport Utility Vehicle",\
                      "Standard Pickup Trucks","Vans", "Small Sport Utility Vehicle", "Standard Sport Utility Vehicle"]

# for c in class_search_values:
#     vr.loc[vr["VClass"].str.contains(c), "VClass"] = c
clean_up(vr, "VClass", class_search_values)    
    
vr.loc[vr["VClass"].str.contains("Midsize Station"), "VClass"] = "Midsize-Large Station Wagons"
    
vr["VClass"].value_counts()

Sport Utility Vehicle           6716
Compact Cars                    5610
Subcompact Cars                 5055
Midsize Cars                    4714
Standard Pickup Trucks          4321
Special Purpose Vehicle         2421
Two Seaters                     2261
Large Cars                      2171
Vans                            1624
Minicompact Cars                1520
Small Station Wagons            1498
Small Pickup Trucks             1216
Midsize-Large Station Wagons    1074
Minivan                          384
Name: VClass, dtype: int64

In [18]:
# reduce to 4, front or rear drive

vr.loc[vr["drive"].str.contains("2-Wheel Drive"), "drive"] = "Front-Wheel Drive"
# vr.loc[vr["drive"].str.contains("Rear-Wheel"), "drive"] = "2-Wheel Drive"
vr.loc[vr["drive"].str.contains("All-Wheel"), "drive"] = "4-Wheel Drive"
vr.loc[vr["drive"].str.contains("Part-time"), "drive"] = "4-Wheel Drive"
drive_counts = vr.drive.value_counts()
drive_counts.sort_index()

4-Wheel Drive        12267
Front-Wheel Drive    14550
Rear-Wheel Drive     13768
Name: drive, dtype: int64

In [19]:
# reduce to automatic or manual

AorM = ["Automatic", "Manual"]

clean_up(vr, "trany", AorM )

trany_counts = vr.trany.value_counts()
trany_counts.sort_index()

Automatic    28326
Manual       12259
Name: trany, dtype: int64

In [20]:
fuel_count = vr.fuelType.value_counts()
fuel_count

Regular     26865
Premium     13558
Midgrade      143
CNG            10
Diesel          9
Name: fuelType, dtype: int64

In [21]:
# remove non-gasoline fuels

vr = vr[(vr.fuelType == "Regular") | (vr.fuelType == "Premium")]
vr

,year,VClass,comb08,cylinders,displ,drive,fuelType,trany
19453,1984,Special Purpose Vehicle,15,4.0,2.0,Front-Wheel Drive,Regular,Manual
19140,1984,Standard Pickup Trucks,14,6.0,4.1,4-Wheel Drive,Regular,Manual
20316,1984,Special Purpose Vehicle,18,6.0,4.2,4-Wheel Drive,Regular,Manual
19139,1984,Standard Pickup Trucks,15,6.0,4.1,4-Wheel Drive,Regular,Automatic
19136,1984,Standard Pickup Trucks,21,4.0,2.4,Front-Wheel Drive,Regular,Manual
...,...,...,...,...,...,...,...,...
40233,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Regular,Automatic
40232,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Regular,Automatic
40231,2024,Sport Utility Vehicle,20,4.0,2.0,4-Wheel Drive,Regular,Automatic
40275,2024,Subcompact Cars,19,6.0,3.0,Rear-Wheel Drive,Premium,Manual
40105,2024,Subcompact Cars,27,4.0,2.0,Front-Wheel Drive,Premium,Manual

In [22]:
vr = vr.drop("fuelType", axis=1)

In [23]:
vr = vr.rename(columns={"comb08": "MPG(comb)", "VClass": "vehicle_class","displ":"displ (L)"})
vr

,year,vehicle_class,MPG(comb),cylinders,displ (L),drive,trany
19453,1984,Special Purpose Vehicle,15,4.0,2.0,Front-Wheel Drive,Manual
19140,1984,Standard Pickup Trucks,14,6.0,4.1,4-Wheel Drive,Manual
20316,1984,Special Purpose Vehicle,18,6.0,4.2,4-Wheel Drive,Manual
19139,1984,Standard Pickup Trucks,15,6.0,4.1,4-Wheel Drive,Automatic
19136,1984,Standard Pickup Trucks,21,4.0,2.4,Front-Wheel Drive,Manual
...,...,...,...,...,...,...,...
40233,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Automatic
40232,2024,Sport Utility Vehicle,22,4.0,2.0,4-Wheel Drive,Automatic
40231,2024,Sport Utility Vehicle,20,4.0,2.0,4-Wheel Drive,Automatic
40275,2024,Subcompact Cars,19,6.0,3.0,Rear-Wheel Drive,Manual
40105,2024,Subcompact Cars,27,4.0,2.0,Front-Wheel Drive,Manual

In [24]:
vr.to_csv("Resources/vehicles_fully_reduced_2.csv",index=False)

In [40]:
# remove special purpose vehicles
vrsp = vr[vr['vehicle_class'] != 'Special Purpose Vehicle']
vrsp.to_csv("Resources/vehicles_fully_reduced_no_sp.csv",index=False)

In [41]:
years = vrsp.groupby(['year'])['MPG(comb)'].mean()
years

year
1984    15.985075
1985    19.718935
1986    19.659319
1987    19.517143
1988    19.718053
1989    19.498477
1990    19.344262
1991    19.128497
1992    19.186583
1993    19.483871
1994    19.461443
1995    19.292441
1996    19.981102
1997    19.896382
1998    19.841600
1999    19.244873
2000    19.169345
2001    19.079769
2002    18.950270
2003    18.771429
2004    18.967339
2005    19.005510
2006    18.786398
2007    18.987512
2008    19.191781
2009    19.738095
2010    20.464100
2011    20.861050
2012    21.464989
2013    22.321311
2014    22.360084
2015    22.507232
2016    22.820019
2017    22.908587
2018    22.931189
2019    22.848954
2020    22.743083
2021    22.416925
2022    22.290832
2023    22.151653
2024    22.768987
Name: MPG(comb), dtype: float64

In [58]:
cyl = vrsp[vrsp['cylinders'] = 3]
cyl.sort_values(by = 'MPG(comb)').head(30)

,year,vehicle_class,MPG(comb),cylinders,displ (L),drive,trany
41307,1989,Two Seaters,7,12.0,5.2,Rear-Wheel Drive,Manual
34522,1988,Two Seaters,7,12.0,5.2,Rear-Wheel Drive,Manual
21057,1987,Two Seaters,7,12.0,5.2,Rear-Wheel Drive,Manual
42581,1990,Two Seaters,7,12.0,5.2,Rear-Wheel Drive,Manual
7901,1986,Two Seaters,7,12.0,5.2,Rear-Wheel Drive,Manual
27193,1987,Large Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
45003,1992,Two Seaters,8,8.0,6.0,Rear-Wheel Drive,Automatic
30635,1985,Compact Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
23199,1987,Subcompact Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
25346,1987,Compact Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
40670,1985,Subcompact Cars,8,8.0,5.3,Rear-Wheel Drive,Automatic
41776,1985,Large Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
40787,1985,Subcompact Cars,8,8.0,5.3,Rear-Wheel Drive,Automatic
11734,1986,Compact Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
2002,1985,Subcompact Cars,8,8.0,5.3,Rear-Wheel Drive,Manual
13641,1986,Large Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
13774,1985,Subcompact Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
1770,1995,Two Seaters,8,12.0,4.7,Rear-Wheel Drive,Manual
10123,1986,Subcompact Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
23221,1987,Subcompact Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
9229,2003,Two Seaters,8,12.0,6.0,Rear-Wheel Drive,Automatic
12853,1986,Midsize Cars,8,8.0,4.9,Rear-Wheel Drive,Automatic
46196,1993,Two Seaters,8,8.0,6.0,Rear-Wheel Drive,Automatic
26867,1987,Midsize Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
26834,1987,Midsize Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
23166,1987,Subcompact Cars,8,8.0,6.8,Rear-Wheel Drive,Automatic
1990,1985,Subcompact Cars,8,8.0,5.3,Rear-Wheel Drive,Automatic
40898,1985,Subcompact Cars,8,8.0,5.3,Rear-Wheel Drive,Manual
40910,1985,Midsize Cars,8,8.0,4.9,Rear-Wheel Drive,Automatic
1979,1985,Subcompact Cars,8,8.0,5.3,Rear-Wheel Drive,Automatic

In [59]:
#cyl.to_csv("Resources/vehicles_fully_reduced_no_sp.csv",index=False)

In [32]:
disp = vr[vr['displ (L)'] == 1.0]
disp

,year,vehicle_class,MPG(comb),cylinders,displ (L),drive,trany
19040,1984,Small Pickup Trucks,22,4.0,1.0,4-Wheel Drive,Manual
19024,1984,Small Pickup Trucks,19,4.0,1.0,4-Wheel Drive,Manual
19439,1984,Special Purpose Vehicle,22,4.0,1.0,4-Wheel Drive,Manual
19440,1984,Special Purpose Vehicle,22,4.0,1.0,4-Wheel Drive,Manual
29641,1985,Minicompact Cars,42,3.0,1.0,Front-Wheel Drive,Manual
...,...,...,...,...,...,...,...
32531,2018,Compact Cars,31,3.0,1.0,Front-Wheel Drive,Automatic
32532,2018,Compact Cars,34,3.0,1.0,Front-Wheel Drive,Manual
33973,2019,Sport Utility Vehicle,28,3.0,1.0,Front-Wheel Drive,Automatic
34764,2020,Sport Utility Vehicle,28,3.0,1.0,Front-Wheel Drive,Automatic
36440,2021,Sport Utility Vehicle,28,3.0,1.0,Front-Wheel Drive,Automatic

vehicle_class
False    20.454632
True     19.187085
Name: MPG(comb), dtype: float64